@inherits LayoutComponentBase

<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider />

<NavBar />

@code{
    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette
        {
            AppbarBackground = "#FFFFFF",
            Secondary = "#3C8844",
            AppbarText = "#FFFFFF",
            Primary = "#FFFFFF",
            TextPrimary = "#FFFFFF",
            Background = "#FFFFFF",
            TextSecondary = "#FFFFFF",
            DrawerBackground = "#000000",
            DrawerText = "#FFFFFF",
            Surface = "#3C8844",
            ActionDefault = "#000000",
            ActionDisabled = "#3C8844",
            TextDisabled = "#000000",
            TertiaryDarken = "#3C8844",
        }
    };
}