@inherits LayoutComponentBase

<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider Theme="MyCustomTheme"/>

<NavBar />

<FarmerNavBar />

@code{
        MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = Colors.Green.Default,
                Secondary = Colors.Shades.White,
                Dark = Colors.Shades.Black,
                AppbarBackground = Colors.Shades.White,

            },
        };
    }