
<MudAppBar Bottom="true" Fixed="true" Color="Color.Primary">
    @*<div id="background">*@
        <MudIconButton Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Inherit" Edge="Edge.Start" Href="/login" />
    @*</div>*@
    <MudSpacer />
    @*<div id="background">*@
        <MudIconButton Icon="@Icons.Material.Filled.FavoriteBorder" Color="Color.Inherit" Edge="Edge.End" Href="/search" />
    @*</div>*@
        <MudSpacer />
@*<div id="background">*@
    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" Href="/map" />
@*</div>*@
        <MudSpacer />
@*<div id="background">*@
    <MudIconButton Icon="@Icons.Filled.ShoppingCart" Color="Color.Inherit" Edge="Edge.Start" Href="/cart" />
@*</div>*@

</MudAppBar>

@code{

}