#background {
    align-content: center;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

center {
    text-align: center
}
