@page "/cart"

<<<<<<< Updated upstream
    <div id="background">
        <MudPaper Elevation="10" Height="47px" Width="100%">
            <MudText Class="pt-2" Typo="Typo.h5">Cart</MudText>
        </MudPaper>
    </div>



    <MudGrid Spacing="2" Class="mt-2" Justify="Justify.Center">
=======
<div id="background">
    <MudPaper Elevation="10" Height="47px" Width="100%">
        <MudText Class="pt-2" Typo="Typo.h5">Cart</MudText>
    </MudPaper>
</div>


<MudStack AlignItems="AlignItems.Start">
>>>>>>> Stashed changes
        <MudItem>
            <MudCard Elevation="10" Height="180px" Width="172px">
                <MudPaper Height="110px" Width="172px" />
                <MudCardContent>
                    <MudText>Bananas</MudText>
                    <MudText Typo="Typo.body2">$3.99</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem>
            <MudCard Elevation="10" Height="180px" Width="172px">
                <MudPaper Height="110px" Width="172px" />
                <MudCardContent>
                    <MudText>Apples</MudText>
                    <MudText Typo="Typo.body2">$3.99</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
<<<<<<< Updated upstream
    </MudGrid>

<center>
    <MudButton Class="mt-2" Variant="Variant.Filled" Color="Color.Primary" Href="/billing">Checkout</MudButton>
</center>
=======
</MudStack>

<MudButton Class="mt-2" Variant="Variant.Outlined" FullWidth="true" Color="Color.Primary" Href="/billing">Checkout</MudButton>
>>>>>>> Stashed changes


    @code {
        public string TextValue { get; set; }
    }
<<<<<<< Updated upstream
=======

    <style>
        #background {
            align-content: center;
            border-radius: 0px 0px 0px 0px;
            text-align: center;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        center {
            text-align: center
        }
    </style>
>>>>>>> Stashed changes
