@page "/cart"

<div id="body">
    <MudPaper Elevation="10" Height="47px" Width="100%">
        <MudText Class="pt-2" Typo="Typo.h5">Cart</MudText>
    </MudPaper>
</div>



<MudGrid Spacing="2" Class="mt-2" Justify="Justify.Center">
        <MudItem>
            <MudCard Elevation="10" Height="180px" Width="172px">
                <MudCardMedia Height="110" Image="https://i.imgur.com/osNh4Vm.png" />
                <MudCardContent>
                    <MudText>Bananas</MudText>
                    <MudText Typo="Typo.body2">$3.99</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem>
            <MudCard Elevation="10" Height="180px" Width="172px">
                <MudPaper Height="110px" Width="172px" />
                <MudCardContent>
                    <MudText>Apples</MudText>
                    <MudText Typo="Typo.body2">$3.99</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
</MudGrid>


<MudButton Class="mt-2" Variant="Variant.Outlined" FullWidth="true" Color="Color.Primary" Href="/billing">Checkout</MudButton>


    @code {
        public string TextValue { get; set; }
    }

<style>
    #nav-bar {
        visibility: hidden;
    }

    #body {
        text-align: center;
    }
</style>