@using Models
@page "/add-product"
@inject IDialogService DialogService


<div id="body">
    <center>
        <MudPaper Elevation="10" Height="47px" Width="100%">
            <MudText Class="pt-2" Typo="Typo.h5">Add Product</MudText>
        </MudPaper>
    </center>
</div>
<MudGrid Spacing="2" Class="mt-2" Justify="Justify.Center">
    <MudItem>
        <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" FullWidth="true" Href="/add-product">Add Product</MudButton>
    </MudItem>
    <MudItem>
        <MudButton Variant="Variant.Outlined" Size="Size.Large" Color="Color.Primary" FullWidth="true" Href="/remove-product">Remove Product</MudButton>
    </MudItem>
</MudGrid>

<MudTextField @bind-Value="nameText" Label="Name" Variant="Variant.Filled"></MudTextField>
<MudTextField @bind-Value="priceText" Label="Price" Variant="Variant.Filled"></MudTextField>
<MudTextField @bind-Value="sellerText" Label="Seller" Variant="Variant.Filled"></MudTextField>
<MudTextField @bind-Value="imageText" Label="Image" Variant="Variant.Filled"></MudTextField>
<MudButton Class="mt-2" @onclick="Add_Product" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" FullWidth="true">Add Product</MudButton>
@*<MudButton Variant="Variant.Outlined" Size="Size.Large" Color="Color.Primary" FullWidth="true" Href="/">Log In</MudButton>*@


@code {

    public string nameText { get; set; }
    public Double priceText { get; set; }
    public string sellerText { get; set; }
    public string imageText { get; set; }

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<SignUpDialog>("Product successfully added", options);
    }

    private async Task Add_Product()
    {
        HttpClient client = new HttpClient { BaseAddress = new Uri("https://farmersmercato.azurewebsites.net/api/add-product") };

        HttpResponseMessage response = null;

        var acct = new Models.Product()
        {
            name = nameText,
            price = priceText,
            seller = sellerText,
            image = imageText,
        };

        var payloadString = new StringContent(System.Text.Json.JsonSerializer.Serialize(acct), System.Text.Encoding.UTF8, System.Net.Mime.MediaTypeNames.Application.Json);

        response = await client.PostAsync(client.BaseAddress, payloadString);

        OpenDialog();
    }
}

<style>
    #nav-bar {
        visibility: hidden;
    }

    #body {
        text-align: center;
    }
</style>