@page "/index"

<h1>Farmer's Mercato'</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*<MudButton Variant="Variant.Filled">kissme</MudButton>*@

<MudButton Variant="Variant.Filled">newapp</MudButton>
