@page "/index"

<h1>Farmer's Mercato'</h1>

Welcome to your new app.

<<<<<<< HEAD
<<<<<<< HEAD
<SurveyPrompt Title="How is Blazor working for you?" />

@*<MudButton Variant="Variant.Filled">kissme</MudButton>*@
=======
<MudButton Variant="Variant.Filled">newapp</MudButton>
>>>>>>> 6fc9ffeb4e398c67da4e56343860521110fdb178
=======
<MudButton Variant="Variant.Filled">newapp</MudButton>
>>>>>>> 6fc9ffeb4e398c67da4e56343860521110fdb178
