<<<<<<< HEAD
﻿@page "/login"

<h1>Log in</h1>
<h3>Sign in to continue</h3>

<MudTextField @bind-Value="TextValue" Label="Username" Color=""Variant="Variant.Filled"></MudTextField>
=======
﻿@page "/"

<h1>Farmer's Mercato</h1>

<MudTextField @bind-Value="TextValue" Label="Username" Variant="Variant.Filled"></MudTextField>
>>>>>>> 6fc9ffeb4e398c67da4e56343860521110fdb178
<MudTextField @bind-Value="TextValue" Label="Password" Variant="Variant.Filled"></MudTextField>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/cart">LOG IN</MudButton>

<h3>Don't have an account?</h3>
<h3><a href="/sign-up">Sign Up</a></h3>



@code {
    public string TextValue { get; set; }
}