@page "/"


<h1>Farmer's Mercato</h1>
<h1>Log in</h1>
<h3>Sign in to continue</h3>

<MudTextField @bind-Value="TextValue" Label="Username" Variant="Variant.Filled"></MudTextField>
<MudTextField @bind-Value="TextValue" Label="Password" Variant="Variant.Filled"></MudTextField>
<MudButton Class="mt-2" Variant="Variant.Filled" Color="Color.Primary" Href="/search">LOG IN</MudButton>

<h4 Class="mt-5">Don't have an account?</h4>
<h6><a Class="mt-5" href="/sign-up">Sign Up</a></h6>


@code {
    public string TextValue { get; set; }
}