@page "/"

<h1>Farmer's Mercato</h1>

<MudTextField @bind-Value="TextValue" Label="Username" Variant="Variant.Filled"></MudTextField>
<MudTextField @bind-Value="TextValue" Label="Password" Variant="Variant.Filled"></MudTextField>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/cart">LOG IN</MudButton>

<h3>Don't have an account?</h3>
<h3><a href="/sign-up">Sign Up</a></h3>

@code {
    public string TextValue { get; set; }
}

<style>
    #nav-bar {
        visibility: hidden;
    }
</style>