@page "/map"

<h1>Nearby Sellers</h1>

<MudPaper Class="pa-4 d-flex" Outlined="true" Style="height:600px">
<iframe src="map.html"
        style="border:0;width:fit-content; height:fit-content"
        loading="lazy">
</iframe>
</MudPaper>

<style>
    #farmer-nav-bar {
        visibility: hidden;
    }
</style>