@using Models

@page "/sign-up"
@inject IDialogService DialogService

<div id="body">
    <MudStack AlignItems="AlignItems.Center" Spacing="16">
        <MudText Typo="Typo.h2">Sign Up</MudText>

        <MudTextField @bind-Value="UsernameTextValue" Label="Username" FullWidth="true" Variant="Variant.Filled"></MudTextField>
        <MudTextField @bind-Value="PasswordTextValue" Label="Password" FullWidth="true" Variant="Variant.Filled" InputType=InputType.Password></MudTextField>
        <MudButton @onclick="AddAccount" Class="mt-2 ma-10" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary">SIGN UP</MudButton>
    </MudStack>

    <MudText Typo="Typo.h5" Class="d-inline ">Already have an account?</MudText>
    <MudText Typo="Typo.h5" Class="d-inline"><a Href="/"> Log In</a></MudText>
    @*<h6><a href="/">Log In</a></h6>*@
    @*<MudButton Variant="Variant.Outlined" Size="Size.Large" Color="Color.Primary" FullWidth="true" Href="/">Log In</MudButton>*@

</div>

@code {
    public string UsernameTextValue { get; set; }
    public string PasswordTextValue { get; set; }

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<SignUpDialog>("Account created successfully", options);
    }

    private async Task AddAccount()
    {
        HttpClient client = new HttpClient { BaseAddress = new Uri("https://farmersmercato.azurewebsites.net/api/sign-up") };

        HttpResponseMessage response = null;

        var acct = new User()
        {
            username = UsernameTextValue,
            password = PasswordTextValue
        };

        var payloadString = new StringContent(System.Text.Json.JsonSerializer.Serialize(acct), System.Text.Encoding.UTF8, System.Net.Mime.MediaTypeNames.Application.Json);

        response = await client.PostAsync(client.BaseAddress, payloadString);

        OpenDialog();
    }
}

<style>
    #nav-bar {
        visibility: hidden;
    }

    #body {
        text-align: center;
    }
</style>